@font-face {
  font-family: "h1";
  src: url("../assets/FuturaStd-Bold.otf");
}
@font-face {
  font-family: "h2";
  src: url("../assets/FuturaStd-Medium.otf");
}
@font-face {
  font-family: "p";
  src: url("../assets/FuturaStd-Book.otf");
}

.h1 {
  font-family: "h1";
}
.h2 {
  font-family: "h2";
  color: #2089a4;
  margin-top: 50px;
}
.p {
  font-family: "p";
  font-size: 17px;
}

.btn {
  font-family: "h1";
}
.course-title {
  font-family: "h1";
}
.course-subheader {
  font-family: "p";
  color: white;
}
.course-mobile-subheader {
  font-family: "p";
  font-size: 17px;
}
#email-submit-btn {
  font-family: "h1";
}
.services-header {
  font-family: "h2";
  color: #2089a4;
}
.services-subheader {
  font-family: "p";
  color: #757575;
}
.contact-label {
  font-family: "p";
  font-size: 17px;
}
.contact-src {
  font-family: "p";
  color: #757575;
}
.contact-location {
  font-family: "p";
  color: #757575;
}
#copyright {
  font-family: "p";
  color: #757575;
  text-align: center;
}
