@font-face {
  font-family: "FuturaBold";
  src: url("../assets/FuturaStd-Bold.otf");
}
@font-face {
  font-family: "FuturaMedium";
  src: url("../assets/FuturaStd-Medium.otf");
}
@font-face {
  font-family: "FuturaBook";
  src: url("../assets/FuturaStd-Book.otf");
}

/* FUTURA BOLD*/
.h1 {
  font-family: "FuturaBold";
}
.btn {
  font-family: "FuturaBold";
}
.course-title {
  font-family: "FuturaBold";
}
#email-submit-btn {
  font-family: "FuturaBold";
}

/* FUTURA MEDIUM */
.h2 {
  font-family: "FuturaMedium";
  color: #2089a4;
  margin-top: 50px;
}
.services-header {
  font-family: "FuturaMedium";
  color: #2089a4;
}

/* FUTURA BOOK */
.p {
  font-family: "FuturaBook";
  font-size: 17px;
}

.course-subheader {
  font-family: "FuturaBook";
  color: white;
}
.course-mobile-subheader {
  font-family: "FuturaBook";
  font-size: 17px;
}
.services-subheader {
  font-family: "FuturaBook";
  color: #757575;
}
.contact-label {
  font-family: "FuturaBook";
  font-size: 17px;
}
.contact-src {
  font-family: "FuturaBook";
  color: #757575;
}
.contact-location {
  font-family: "FuturaBook";
  color: #757575;
}
#copyright {
  font-family: "FuturaBook";
  color: #757575;
  text-align: center;
}
