@media only screen and (max-width: 800px) {
  a {
    text-decoration: none;
  }
  section {
    width: 95%;
  }
  .three-column-grid {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
  }

  /* HEADER */
  #hero {
    max-width: 100%;
    height: auto;
    display: grid;
    gap: 10px;
    padding: 10px;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
    margin: 0 auto;
    .hero-column:last-child {
      display: none;
    }
  }

  /* Courses */
  .course-containter {
    display: block;
    margin-bottom: 10rem;
    .course-overlay {
      visibility: hidden;
    }
  }

  a .course-mobile-subheader {
    visibility: visible;
    color: #757575;
  }

  /* Email List */
  #course-column-email {
    display: flex;
    flex-flow: wrap;
    margin: auto;
    text-align: center;
    input {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      width: 100%;
      text-align: center;
    }
    #email-submit-btn {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      width: 100%;
    }
  }

  /* Footer */
  #copyright {
    padding-top: 20px;
  }
}
