@media only screen and (max-width: 800px) {
  #hero {
    max-width: 100%;
    display: grid;
    gap: 10px;
    padding: 10px;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
    margin: 0 auto;
    .hero-column:last-child {
      display: none;
    }
  }
  .three-column-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    justify-items: center;
    grid-gap: 50px;
  }
}
